workflow.json
{
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "17I385-zcqtoAJZ3OAa6Qu4f-959JFjEI",
          "mode": "list",
          "cachedResultName": "InvoiceOcr",
          "cachedResultUrl": "https://drive.google.com/drive/folders/17I385-zcqtoAJZ3OAa6Qu4f-959JFjEI"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -2080,
        224
      ],
      "id": "cc64b69c-b684-4c1f-bb06-8d17bf3ccde9",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "h6QNvrrKczm5Picd",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": ""
        },
        "options": {
          "binaryPropertyName": "data",
          "googleFileConversion": {
            "conversion": {}
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1840,
        208
      ],
      "id": "0236e68b-7fb9-4d49-bf7c-e36c8d7b60fa",
      "name": "Download Driver File2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "h6QNvrrKczm5Picd",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "invoices",
          "mode": "list",
          "cachedResultName": "invoices"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        208,
        0
      ],
      "id": "1d7be5a8-6cdd-4d86-8b63-a8acb252a94e",
      "name": "Insert rows in a table4",
      "credentials": {
        "mySql": {
          "id": "RDuihR42NYbiVcxZ",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "line_items",
          "mode": "list",
          "cachedResultName": "line_items"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        208,
        384
      ],
      "id": "5dcef2e5-805f-405a-a91d-89a527267506",
      "name": "Insert rows in a table5",
      "credentials": {
        "mySql": {
          "id": "RDuihR42NYbiVcxZ",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nitems.forEach(item => {\n  const invoiceId = (item.json.output?.invoices && item.json.output.invoices[0]?.invoice_id) || null; // <--- This line needs to be updated if the output splits invoices into separate items\n  const lineItems = item.json.output?.line_items || [];\n\n  lineItems.forEach(li => {\n    results.push({\n      json: {\n        invoice_id: li.invoice_id || invoiceId, // <--- Prefer li.invoice_id first\n        description: li.description || null,\n        quantity: li.quantity || 0,\n        unit_price: li.unit_price || 0,\n        amount: li.amount || 0,\n        hsn_sac: li.hsn_sac || null,\n        unit_of_measurement: li.unit_of_measurement || null,\n        taxable_amount: li.taxable_amount || 0,\n        cgst: li.cgst || 0,\n        cgst_amount: li.cgst_amount || 0,\n        sgst: li.sgst || 0,\n        sgst_amount: li.sgst_amount || 0,\n        igst: li.igst || 0,\n        igst_amount: li.igst_amount || 0\n      }\n    });\n  });\n});\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        384
      ],
      "id": "7f867aec-712b-48d0-b179-14f4779d3f5e",
      "name": "for line items2"
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nitems.forEach(item => {\n  const allInvoices = item.json.output?.invoices || [];\n\n  allInvoices.forEach(invoice => {\n    if (!invoice) {\n      return;\n    }\n    results.push({\n      json: {\n        invoice_id: invoice.invoice_id || null,\n        invoice_number: invoice.invoice_number || null,\n        invoice_date: invoice.invoice_date || null,\n        due_date: invoice.due_date || null,\n        vendor_name: invoice.vendor_name || null,\n        vendor_address: invoice.vendor_address || null,\n        buyer_name: invoice.buyer_name || null,\n        buyer_address: invoice.buyer_address || null,\n        gstin: invoice.gstin || null,\n        total_amount: invoice.total_amount || null,\n        cgst: invoice.cgst || null,\n        sgst: invoice.sgst || null,\n        igst: invoice.igst || null,\n        currency_code: invoice.currency_code || null,\n        cin: invoice.cin || null,\n        state_code: invoice.state_code || null,\n        place_of_supply: invoice.place_of_supply || null,\n        pan_no: invoice.pan_no || null,\n        po_no: invoice.po_no || null\n      }\n    });\n  });\n});\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "43720a19-8653-43ab-ae88-5b94868bb0ad",
      "name": "invoice2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloud.llamaindex.ai/api/v1/parsing/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer llx-inhk8XHKzbaDkQ2eOnoRD6wVnVTYwPzXUSGpAFvztKFWl56Z"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "1faa0bf5-73a9-440e-bab3-326bec5fa854",
      "name": "llama ocr extractor3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1600,
        192
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1344,
        192
      ],
      "id": "a751e039-e482-4700-b470-c657fce4a4fe",
      "name": "Wait3",
      "webhookId": "079f2fe4-91a0-4659-8c61-70b232c1430b"
    },
    {
      "parameters": {
        "url": "=https://api.cloud.llamaindex.ai/api/v1/parsing/job/{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer llx-inhk8XHKzbaDkQ2eOnoRD6wVnVTYwPzXUSGpAFvztKFWl56Z"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1120,
        192
      ],
      "id": "1b8f70cb-d83d-4693-8ec2-bfef0a0f77be",
      "name": "Status2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "SUCCESS",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "59c9b264-9bce-4f36-a74f-00fe0b91320c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SUCCESS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "374507e7-d341-4243-88ea-5903596c0458",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "PENDING",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PENDING"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -880,
        192
      ],
      "id": "670b285a-8e2e-4c0d-be4d-a6a3f9bc82a3",
      "name": "Switch2"
    },
    {
      "parameters": {
        "url": "=https://api.cloud.llamaindex.ai/api/v1/parsing/job/{{ $json.id }}/result/markdown",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer llx-inhk8XHKzbaDkQ2eOnoRD6wVnVTYwPzXUSGpAFvztKFWl56Z"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -608,
        176
      ],
      "id": "4330e463-9c74-4fcd-8fbc-32b85c933935",
      "name": "Get2"
    },
    {
      "parameters": {
        "text": "={{ $json.markdown }}",
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\n  \"invoices\": [\n    {\n      \"invoice_id\": \"INV-001\",\n      \"invoice_number\": \"1001\",\n      \"invoice_date\": \"2025-08-25\",\n      \"due_date\": \"2025-09-10\",\n      \"vendor_name\": \"ABC Traders Pvt Ltd\",\n      \"vendor_address\": \"123 MG Road, Mumbai, Maharashtra, 400001\",\n      \"buyer_name\": \"XYZ Enterprises\",\n      \"buyer_address\": \"45 Park Street, Kolkata, West Bengal, 700016\",\n      \"currency_code\": \"INR\",\n      \"gstin\": \"27ABCDE1234F1Z5\",\n      \"total_amount\": 59000,\n      \"cgst\": 4500.05,\n      \"sgst\": 45500.05,\n      \"igst\": 0,\n      \"cin\":\"V18101LD1996LPC079003\",\n      \"state_code\": \"19 Kolkata\",\n      \"place_of_supply\": \"Kolkata\",\n      \"pan_no\": \"AAADR3434C\",\n      \"po_no\":\"1010101010\"\n    },\n    {\n      \"invoice_id\": \"INV-002\",\n      \"invoice_number\": \"1002\",\n      \"invoice_date\": \"2025-08-26\",\n      \"due_date\": \"2025-09-11\",\n      \"vendor_name\": \"PQR Solutions\",\n      \"vendor_address\": \"500 Business Park, Chennai, Tamil Nadu, 600001\",\n      \"buyer_name\": \"Acme Corp\",\n      \"buyer_address\": \"10 Tech Lane, Bengaluru, Karnataka, 560001\",\n      \"currency_code\": \"INR\",\n      \"gstin\": \"29FGHIJ5678K2Z6\",\n      \"total_amount\": 35000,\n      \"cgst\": 3000,\n      \"sgst\": 3000,\n      \"igst\": 0,\n      \"cin\":\"U72200KA2000PTC026217\",\n      \"state_code\": \"29 Bengaluru\",\n      \"place_of_supply\": \"Bengaluru\",\n      \"pan_no\": \"BBBDS5656D\",\n      \"po_no\":\"2020202020\"\n    }\n  ],\n  \"line_items\": [\n    {\n      \"invoice_id\": \"INV-001\",\n      \"description\": \"Office Chairs\",\n      \"quantity\": 10,\n      \"unit_price\": 2500,\n      \"amount\": 25000,\n      \"hsn_sac\": \"94013000\",\n      \"unit_of_mesurment\": \"box\",\n      \"Taxable amount\":8500,\n      \"cgst\":5,\n      \"cgst_amount\":4200,\n      \"sgst\":4,\n      \"sgst_amount\":4000,\n      \"igst\":0,\n      \"igst_amount\":0\n    },\n    {\n      \"invoice_id\": \"INV-001\",\n      \"description\": \"Desks\",\n      \"quantity\": 5,\n      \"unit_price\": 6800,\n      \"amount\": 34000,\n      \"hsn_sac\": \"94033010\",\n      \"unit_of_mesurment\": \"box\",\n      \"Taxable amount\":8500,\n      \"cgst\":5,\n      \"cgst_amount\":4200,\n      \"sgst\":4,\n      \"sgst_amount\":4000,\n      \"igst\":0,\n      \"igst_amount\":0\n    },\n    {\n      \"invoice_id\": \"INV-002\",\n      \"description\": \"Software License\",\n      \"quantity\": 1,\n      \"unit_price\": 15000,\n      \"amount\": 15000,\n      \"hsn_sac\": \"85238020\",\n      \"unit_of_mesurment\": \"box\",\n      \"Taxable amount\":8500,\n      \"cgst\":5,\n      \"cgst_amount\":4200,\n      \"sgst\":4,\n      \"sgst_amount\":4000,\n      \"igst\":0,\n      \"igst_amount\":0\n    },\n    {\n      \"invoice_id\": \"INV-002\",\n      \"description\": \"Consulting Services\",\n      \"quantity\": 20,\n      \"unit_price\": 1000,\n      \"amount\": 20000,\n      \"hsn_sac\": \"998313\",\n      \"unit_of_mesurment\": \"box\",\n      \"Taxable amount\":8500,\n      \"cgst\":5,\n      \"cgst_amount\":4200,\n      \"sgst\":4,\n      \"sgst_amount\":4000,\n      \"igst\":0,\n      \"igst_amount\":0\n      \n    }\n  ]\n}",
        "options": {
          "systemPromptTemplate": "You are an expert invoice data extraction system. Extract ALL relevant information from the provided text, handling various formats including tables, PDFs, emails, and unstructured text.\n\nEXTRACTION RULES:\n1. Extract invoice-level data (invoice_number, vendor_name, vendor_address, invoice_date, due_date, total_amount, GST details, etc.) into an \"invoices\" table.\n2. For multiple line items, extract each into a \"line_items\" table as separate objects.\n3. Each line item must include a reference key \"invoice_id\" that links it to the corresponding invoice in the \"invoices\" table.\n4. Do not repeat line items inside the \"invoices\" table. Ensure invoice-level fields are stored only once in \"invoices\".\n5. Extract monetary values without currency symbols as numbers.\n6. Convert dates to YYYY-MM-DD format when possible.\n7. Extract complete company names and addresses.\n8. Handle Indian tax formats (GST, CGST, SGST, IGST).\n9. If any field is unclear or missing, omit it completely.\n10. Look for data in email signatures, headers, and footers.\n11. Parse table structures carefully.\n12. Extract HSN/SAC codes when available.\n13.1. Sometimes, the state code may appear within the place of supply field or text. The model should intelligently identify it from there and include the correct state code in the output.\n\n14. Remember, the invoice ID is not the same as any date mentioned in the invoice. Do not treat or extract dates as invoice IDs.\n\nIMPORTANT: Return ONLY a valid JSON object with exactly two arrays named \"invoices\" and \"line_items\".\n\n15. invoice number and bill number are same.\n\nExample format (braces doubled to avoid template parsing):\n\n{{\n  \"invoices\": [],\n  \"line_items\": []\n}}\n\nDo not include explanations, comments, or placeholder text."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        -368,
        176
      ],
      "id": "0b70f87b-d67e-49d0-b62a-bbd29e1875a2",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -368,
        608
      ],
      "id": "ca14066b-268f-4c88-896b-1a285809d81c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "4orPEHggJxTwQg4e",
          "name": "name-api"
        }
      }
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download Driver File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Driver File2": {
      "main": [
        [
          {
            "node": "llama ocr extractor3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "for line items2": {
      "main": [
        [
          {
            "node": "Insert rows in a table5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "invoice2": {
      "main": [
        [
          {
            "node": "Insert rows in a table4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "llama ocr extractor3": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Status2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status2": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Get2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get2": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "invoice2",
            "type": "main",
            "index": 0
          },
          {
            "node": "for line items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b4014ee051fd78e43ccc9e0ba058ceb98ba0002058297943e9f1838316385f97"
  }
}
